.slider__name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.015em;
  color: rgba(255, 253, 253, 0.78);
  margin: 0;
}
