.slider__pag {
  background: #283036;
  border-radius: 4px;
  width: 44px;
  height: 6px;
  margin: 0;
  opacity: 1;
  margin-right: 18px;
  display: inline-block;
  cursor: pointer;
}
.slider__pag:last-of-type {
  margin-right: 0px;
}
